/*===========================================
SOMMARIO:
1. RESET
2. UTILITY CLASSES
    - ROWS
    - BUTTONS
    - BACKGROUNDS
    - FLOATS
    - TYPOGRAPHY
3. TYPOGRAPHY
    - HEADINGS
    - OTHER
4. LAYOUT
    A: HEADER
        - NAV
        - SECTION
    B: MAIN
    C: FOOTER
        - SITEMAP
        - NAV
===========================================*/

/*----------------- RESET -----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

:root {
  --dark-blue: #23272a;
  --grey: #f6f6f6;
  --light-purple: #8ea1e1;
  --purple: #7289da;
  --section-spacing: 120px;
  --fs-medium: 18px;
  --fs-small: 15px;

  font-family: "Heebo", sans-serif;
  color: var(--dark-blue);
}

/*----------- 2. UTILITY CLASSES -----------*/

/*ROWS*/

.row {
  width: 65%;
  margin: auto;
}

.row-1_6 {
  width: calc(100% / 6);
}

.row-2_6 {
  width: calc(100% / 6 * 2);
}

.row-4_6 {
  width: calc(100% / 6 * 4);
}

/*BUTTONS*/

.btn-normal {
  font-size: var(--fs-medium);
  line-height: 60px;
  padding: 0 30px;
  border-radius: 30px;
}

.btn-small {
  font-size: var(--fs-small);
  line-height: 33px;
  padding: 0 15px;
  border-radius: 20px;
}

/*BACKGROUNDS*/

.bg-white {
  background: white;
  color: var(--dark-blue);
}

.bg-dark {
  background: var(--dark-blue);
  color: white;
}

.bg-grey {
  background: var(--grey);
}

.bg-light-purple {
  background: var(--light-purple);
  color: white;
}

/*FLOATS*/

.float-left > * {
  float: left;
}

.float-right > * {
  float: right;
}

.float-left::after,
.float-right::after,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*TYPOGRAPHY*/

.text-center {
  text-align: center;
}

/*----------- 3. TYPOGRAPHY -----------*/

/*HEADINGS*/

h1,
h2,
h3,
p {
  margin: 32px 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

footer h3,
footer ul > li:first-child {
  color: var(--purple);
  font-weight: 600;
}

/*OTHER*/

p {
  font-size: var(--fs-medium);
  line-height: 32px;
}

header .row,
nav a {
  color: white;
}

/*-------------- 4. LAYOUT  --------------*/

/* >> A: HEADER >> */

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
}

header img,
main img {
  width: 100%;
}

/*NAV*/

header .container {
  position: relative;
}

header nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
}

.nav-ul li {
  display: inline-block;
}

.nav-ul a {
  padding: 0 20px;
  line-height: 34px;
  font-size: var(--fs-small);
}

nav > div:last-of-type {
  text-align: right;
}

/*SECTION*/

header section {
  width: 75%;
  padding: var(--section-spacing) 0;
  margin: auto;
}

.hero-buttons a {
  margin: 0 10px;
}

/* >> B: MAIN >> */

main .row {
  padding: var(--section-spacing) 0;
}

.call-to-action {
  position: relative;
}

.stars {
  width: 60%;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/* >> C: FOOTER >> */

/*SITE MAP*/

.language img {
  height: 20px;
  vertical-align: middle;
}

footer .container {
  position: relative;
  padding: 60px 0;
}

footer h3 {
  margin-top: 0;
  width: 70%;
}

footer .social a {
  margin: 20px 20px 20px 0;
  font-size: var(--fs-medium);
  color: white;
}

footer ul {
  padding: 10px 0 32px;
}

/*NAV*/

footer nav {
  position: relative;
  border-top: 1px solid #3f4a69;
  padding: 30px 0;
}

footer nav .row-1_6 {
  float: left;
}

footer nav .row-1_6:last-child {
  float: right;
}

.wave-top {
  position: relative;
  top: 10px;
}

.wave-bottom {
  position: relative;
  top: -10px;
  transform: rotateZ(180deg);
}
