/*----------------- RESET -----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #23272a;
  --grey: #f6f6f6;
  --light-purple: #8ea1e1;
  --purple: #7289da;
  --section-spacing: 120px;
  --fs-medium: 18px;
  --fs-small: 15px;

  font-family: "Heebo", sans-serif;
  color: var(--dark-blue);
}

/*----------- CLASSI UTILITA' -----------*/

/*ROWS*/

.row-1_6 {
  width: calc(100% / 6);
}

.row-2_6 {
  width: calc(100% / 6 * 2);
}

.row-4_6 {
  width: calc(100% / 6 * 4);
}

/*BUTTONS*/

.btn-normal {
  font-size: var(--fs-medium);
  line-height: 60px;
  padding: 0 30px;
  border-radius: 30px;
}

.btn-small {
  font-size: var(--fs-small);
  line-height: 33px;
  padding: 0 15px;
  border-radius: 20px;
}

/*BACKGROUNDS*/

.bg-white {
  background: white;
  color: var(--dark-blue);
}

.bg-dark {
  background: var(--dark-blue);
  color: white;
}

.bg-grey {
  background: var(--grey);
}

.bg-light-purple {
  background: var(--light-purple);
  color: white;
}

.row.float-left > * {
  float: left;
}

.row.float-right > * {
  float: right;
}

.float-left::after,
.float-right::after,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 32px 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

footer h3,
footer ul > li:first-child {
  color: var(--purple);
}

p {
  font-size: var(--fs-medium);
  line-height: 32px;
}

select option {
  font-size: var(--fs-small);
}

header .row,
nav a {
  color: white;
}

.text-purple {
  color: var(--purple);
}

.text-center {
  text-align: center;
}

/**/

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.row {
  width: 65%;
  margin: auto;
}

/* >> A: HEADER >> */

/*NAV*/

header .row {
  position: relative;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
}

header nav > * {
  float: left;
}

.nav-ul li {
  display: inline-block;
}

.nav-ul a {
  padding: 0 20px;
  line-height: 34px;
  font-size: var(--fs-small);
}

nav > div:last-of-type {
  text-align: right;
}

/*HEADER SECTION*/

header section {
  width: 70%;
  padding: var(--section-spacing) 0;
  margin: auto;
}

.hero-buttons a {
  margin: 0 10px;
}

/* >> A: MAIN >> */

main .row {
  padding: var(--section-spacing) 0;
}

.call-to-action {
  position: relative;
}

.stars {
  width: 60%;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/* >> A: FOOTER >> */

.language img {
  width: auto;
  height: 20px;
  vertical-align: middle;
}

footer .container {
  position: relative;
  padding: 60px 0;
}

footer h3 {
  margin-top: 0;
  width: 70%;
}

footer ul {
  padding: 10px 0 32px;
}

footer nav {
  border-top: 1px solid #3f4a69;
  padding: 30px 0;
}

.booo {
  float: left;
}

/* footer .row1_6 {
  float: right;
} */
