* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #23272a;
  --section-spacing: 120px;
  font-family: "Heebo", sans-serif;
  --fs-medium: 16px;
  --fs-small: 13px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

header .row,
nav a {
  color: white;
}

header {
  min-height: 547px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.container {
  width: 70%;
  margin: auto;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

header nav {
  padding: 30px 0;
}

header nav > * {
  float: left;
}

.nav-ul {
  text-align: center;
}

.nav-ul li {
  display: inline-block;
}

.nav-ul a {
  padding: 0 20px;
  line-height: 34px;
  font-size: var(--fs-small);
}

nav > div:last-of-type {
  text-align: right;
}

.row-1_6 {
  width: calc(100% / 6);
}

.row-2_6 {
  width: calc(100% / 6 * 2);
}

.row-4_6 {
  width: calc(100% / 6 * 4);
}

.btn-normal {
  font-size: var(--fs-medium);
  line-height: 50px;
  padding: 0 30px;
  border-radius: 50%;
}

.btn-small {
  font-size: var(--fs-small);
  line-height: 33px;
  padding: 0 15px;
  border-radius: 20px;
}

.bg-white {
  background: white;
  color: var(--dark-blue);
}
